# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Data & models
memory_db/
models/
*.gguf
*.log
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Virtual environments
venv/
.venv/

# Binaries
mpv.exe
